/* .backgroundOverlay{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../assets/Background.jpg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
} */
  
.contact-input {
    border: 2px solid var(--secondary-color) !important;
    box-shadow: var(--user-box-shadow);
    background: var(--secondary-background) !important;
    color: var(--primary-text) !important;
}
.form-floating>label{
    color: var(--secondary-color) !important;
}

.form-floating>label::after{
    color: var(--secondary-color) !important;
    background-color: var(--secondary-background) !important;
}

.submit-btn {
    border: 1px solid var(--secondary-color) !important;
    color: var(--secondary-color) !important;
    text-transform: uppercase;
    font-weight: 800;
    width: 10rem;
    border-radius: 0.8rem;
}
    
.submit-btn:hover {
    background-color: var(--secondary-color) !important;
    box-shadow: var(--user-box-shadow) !important;
    color: var(--secondary-background)!important;
}

.alert.alert-success {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #00fb89;
}
/* .contacts::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
} */

/* .container {
    z-index: 99;
} */