.vertical-timeline-element-icon svg {
    margin-left: 0 !important;
    margin-top: 0 !important;
    left: 0 !important;
    top: 0 !important;
}

.vertical-timeline-element-content {
    box-shadow: none !important;
}

.vertical-timeline-element-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.journeyEnd {
    display: block;
    position: absolute;
    left: -66px;
    top: 80px;
    font-size: 2rem !important;
}

.journeyStart {
    display: block;
    position: absolute;
    left: -70px;
    top: -105px;
    font-size: 2rem !important;
}

.journeyHeader {
    font-weight: bolder;
    color: #00a1ff;
    text-align: center;
    font-size: 2rem;
}

.journey {
    padding-bottom: 4rem;
}